<footer>
	<div class ="content-padding">
		<div class="footer-content">
			<p>Copyright &copy; Swapnil Jadhav</p>
			<div class="social-media-icons">
				<a href="#"><i class="fa fa-facebook"></i></a>
				<a href="#"><i class="fa fa-twitter"></i></a>
			</div>

		</div>
	</div>
</footer>