<footer>
	<div class ="content-padding">
		<div class="footer-content">
			<p>Copyright &copy; Swapnil Jadhav</p>
			<div class="social-media-icons">
				<a href="#"><i class="fa fa-facebook" style="font-size:14px;"></i></a>
				<!--<a href="#"><i class="fa fa-twitter" style="font-size:14px; margin-right: 20px;"></i></a> -->
				<a href="#"><i class="fa fa-pinterest" style="font-size:14px;"></i></a>
				<!-- <a href="#"><i class="fa fa-rebel"></i></a> -->
			</div>

		</div>
	</div>
</footer>