<footer>
	<div class ="content-padding">
		<div class="footer-content">
			<p>Copyright &copy; Swapnil Jadhav</p>
			<div class="social-media-icons">
				<a href="#">Facebook</a>
				<a href="#">Twitter</a>
			</div>

		</div>
	</div>
</footer>